<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Histoire</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body id="body">
{% block content %}
{% endblock %}
<footer class="page-footer light-blue darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Le Livre en ligne</h5>
                <p class="grey-text text-lighten-4">Le Livre en ligne vous permet actuellement de consulter une histoire (La petite histoire du développeur). Bientôt, vous pourez également lire d'autres histoires, et en créer de nouvelles.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Plan du site</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="/form">Consulter l'histoire</a></li>
                    <li><a class="grey-text text-lighten-3" href="/story">Ajouter une histoire</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">© 2017 Wild Code School Orléans</div>
    </div>
</footer>
</body>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
</html>