{% extends '@CommitStrip/Default/base.html.twig' %}
{% block content %}
<nav class="light-blue darken-4">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Le livre en ligne</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/story">Revenir à l'histoire</a></li>
        </ul>
    </div>
</nav>
<h1 class="center-align">Ajouter une bulle</h1>
<div class="container">
    <div class="row">
        <div class="row">
            <form class="col s12" method="GET" action="/add">
                <label for="link">Lien de la bulle</label>
                <input placeholder="Entrez le lien de la bulle" id="link" type="text" class="validate">
                <input type="submit" value="Créer la bulle" class="light-blue darken-4 btn-large">
            </form>
        </div>
    </div>
</div>
{% endblock %}