{% extends '@CommitStrip/Default/base.html.twig' %}
{% block content %}
<nav class="light-blue darken-4">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Le livre en ligne</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/story">Revenir à l'histoire</a></li>
        </ul>
    </div>
</nav>
<h1 class="center-align">Ajouter une bulle</h1>
<p class="center-align">Votre bulle a été ajouté avec succès !</p>
{% endblock %}