<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Livre </title>
    {% block stylesheets %}
        <!-- Compiled and minified CSS -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
        <link rel="stylesheet" href="{{ asset('bundles/subject/css/style.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="https://avatars1.githubusercontent.com/u/8874047?v=3&s=200" />
</head>
<body>
{% for card in cards %}
<li>{{ card.picture }}</li>
{% endfor %}
</body>
</html>