{% if result == true %}
    <p>Histoire ajoutée</p>
{% else %}
    <p>Histoire ajoutée</p>
{% endif %}

{#Pas le temps de faire le formulaire et de rajouter une colonne dans la table pour choisir à quelle histoire la story appartient. Dsl !#}