
<!DOCTYPE html>
<html lang="en">
<head>
    <title>My book stories</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">My book stories</a>
        </div>
    </div>
</nav>

<div class="container">
    <h3>My pictures</h3>
    <p><img src="{{ picture.picture }}" alt="HTML5 Icon" width="400" height="400"></p>
    <button type="button" class="btn btn-primary">Precedent</button>    <button type="button" class="btn btn-primary">Page suivante</button>
</div>

<footer>
    <p>Posted by: HU David</p>
    <p>Contact information: <a href="mailto:someone@example.com">someone@example.com</a>.</p>
</footer>
</body>
</html>
