<h1>Il était une fois</h1>


<img src="{{ story.picture }}">

<form>
    <a href="/showstory/1">
        <input type="button" value="page 1"/>
    </a>
</form>



<form>
    <a href="/showstory/2">
        <input type="button" value="page 2"/>
    </a>
</form>

<form>
    <a href="/showstory/3">
        <input type="button" value="page 3"/>
    </a>
</form>

<form>
    <a href="/showstory/4">
        <input type="button" value="page 4"/>
    </a>
</form>

