<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="../../../web/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
{% block content %}
{% endblock %}
<footer>

</footer>
<script src="../../../web/js/jquery-3.1.1.min.js"></script>
<script src="../../../web/bootstrap/js/bootstrap.min.js"></script>
<script src="../../../web/js/script.js"></script>
</body>
</html>